@charset "utf-8";
@import "./mixin";

body {
  background-color: #f4f1e6;
  overflow-x: hidden;
}

main {
  overflow: hidden;
}

.clouds {
  >div {
    position: absolute;
    animation: moveclouds linear infinite forwards;
    left: -8%;
    z-index: 0;
  }

  .cloud01,
  .cloud06 {
    width: 16.7rem;
    height: 4.6rem;
    background: url(../images/main/cloud1.png);
  }

  .cloud02,
  .cloud05 {
    width: 10rem;
    height: 2.8rem;
    background: url(../images/main/cloud2.png);
  }

  .cloud03,
  .cloud04 {
    width: 10rem;
    height: 2.8rem;
    background: url(../images/main/cloud3.png);
  }

  .cloud01 {
    top: 2rem;
    animation-duration: 20s;
  }

  .cloud02 {
    top: 10rem;
    animation-delay: 1s;
    animation-duration: 16s;
  }


  .cloud03 {
    top: 25rem;
    animation-duration: 18s;
  }

  .cloud04 {
    top: 10rem;
    animation-delay: 2.5s;
    animation-duration: 28s;
  }

  .cloud05 {
    top: 30rem;
    animation-delay: 1.5s;
    animation-duration: 22s;
  }

  .cloud06 {
    top: 40rem;
    animation-duration: 25s;
  }

}


@keyframes moveclouds {
  0% {
    left: -8%
  }

  100% {
    left: 100%;
  }
}


.mainVisual {
  background: url(../images/main/background-twilight.png);
  background-size: cover;
  height: 80rem;
  position: relative;
  z-index: 0;
  pointer-events: none;
  margin-bottom: 25rem;

  @include mobileOnly {
    height: 50rem;
  }

  &__wrap {
    @include centerX(absolute);
    width: 100%;
    height: 100%;
    bottom: 0;

    >div {
      position: absolute;
      left: 50%;

      &:not(.building) {
        transition: transform 1s;
        transform: rotate(-3deg) scale(0);
      }

      &.active {
        transform: rotate(-3deg) scale(1);
      }
    }

    @include mobileOnly {
      transform: translateX(-50%) scale(0.5);
      transform-origin: bottom;
    }
  }

  .leftLeaf01 {
    width: 23.9rem;
    height: 25.2rem;
    background: url(../images/main/left_leaf01.png) no-repeat;
    bottom: 10%;
    margin-left: -51rem;
    animation: siwng 2s ease-in-out infinite alternate;
    animation-delay: 2s;
    transform-origin: right;
  }

  .rightBird {
    width: 14.8rem;
    height: 22.4rem;
    background: url(../images/main/bird.png) no-repeat;
    bottom: 2%;
    margin-left: 45rem;
  }

  .bottom_left_leaf {
    width: 18.8rem;
    height: 22.4rem;
    background: url(../images/main/bottom-left-leaf.png) no-repeat;
    bottom: -8rem;
    margin-left: -45rem;
    animation: siwng 1s ease-in-out infinite alternate;
    animation-delay: 2s;
  }

  .leftFlower {
    width: 18.8rem;
    height: 22.4rem;
    background: url(../images/main/left-flower.png) no-repeat;
    bottom: 0%;
    margin-left: -40rem;
  }

  .bottom_right_leaf {
    width: 33.4rem;
    height: 30.2rem;
    background: url(../images/main/bottom_right_leaf.png) no-repeat;
    bottom: -20%;
    margin-left: 20rem;
    animation: siwng 2s ease-in-out infinite alternate;
    animation-delay: 2s;
  }

  .right_plant {
    width: 25.4rem;
    height: 38.7rem;
    background: url(../images/main/right_plant.png) no-repeat;
    bottom: 0%;
    margin-left: 35rem;
    animation: siwng 2s ease-in-out infinite alternate;
    animation-delay: 2s;
  }


  .right_leaf {
    width: 28.1rem;
    height: 28.1rem;
    background: url(../images/main/right_leaf.png) no-repeat;
    bottom: 5%;
    margin-left: 28rem;
    animation: siwng 2.5s ease-in-out infinite alternate;
    animation-delay: 2s;
    transform-origin: left;
  }

  .right_flower {
    width: 28.1rem;
    height: 28.1rem;
    background: url(../images/main/right_flower.png) no-repeat;
    bottom: -8%;
    margin-left: 38rem;
  }

  .flamingos {
    width: 19.6rem;
    height: 26.7rem;
    background: url(../images/main/flamingos.gif) no-repeat;
    bottom: 0%;
    margin-left: -28em;
  }

  .bottom_leaf_one {
    width: 24rem;
    height: 18.4rem;
    background: url(../images/main/bottom_leaf_one.png) no-repeat;
    bottom: -15%;
    margin-left: -32em;
    animation: siwng 1.6s ease-in-out infinite alternate;
    animation-delay: 2s;
  }

  .bottom_leaf_two {
    width: 25.5rem;
    height: 30.0rem;
    background: url(../images/main/bottom_leaf_two.png) no-repeat;
    margin-left: -20rem;
    bottom: -30%;
    animation: siwng 2.5s ease-in-out infinite alternate;
    animation-delay: 2s;
  }

  .bottom_leaf_three {
    width: 27.5rem;
    height: 15.9rem;
    background: url(../images/main/bottom_leaf_three.png) no-repeat;
    bottom: -10%;
    margin-left: -5rem;
    animation: siwng 2s ease-in-out infinite alternate;
    animation-delay: 2s;
  }

  .bottom_left_flower {
    width: 27.5rem;
    height: 15.9rem;
    background: url(../images/main/bottom_left_flower.png) no-repeat;
    bottom: -10%;
    margin-left: -35rem;
  }


  .bottom_right_butterfly {
    width: 27.5rem;
    height: 15.9rem;
    background: url(../images/main/bottom_right_butterfly.png) no-repeat;
    bottom: 0%;
    margin-left: 25rem;
    animation: siwng 2.5s ease-in-out infinite alternate;
    animation-delay: 2s;
  }

  .bottom_right_flower {
    width: 13.7rem;
    height: 10.7rem;
    background: url(../images/main/bottom_right_flower.png) no-repeat;
    bottom: -3rem;
    margin-left: 18rem;
  }

  .bottom_flowers {
    width: 23.9rem;
    height: 25.5rem;
    background: url(../images/main/bottom_flowers.png) no-repeat;
    bottom: -15rem;
    margin-left: -15rem;
  }

  .left_butterfly {
    width: 8.4rem;
    height: 6.5rem;
    background: url(../images/main/left_butterfly.png) no-repeat;
    bottom: 30%;
    margin-left: -30rem;
  }

  .middle_butterfly {
    width: 7.9rem;
    height: 7.0rem;
    background: url(../images/main/middle_butterfly.png) no-repeat;
    bottom: 2rem;
    margin-left: -15rem;
  }


  .right_butterfly {
    width: 3.6rem;
    height: 3.2rem;
    background: url(../images/main/butterfly_right.png) no-repeat;
    bottom: 35rem;
    margin-left: 23rem;
  }

  .building {
    width: 65.3rem;
    height: 44.6rem;
    background: url(../images/main/building.png);
    margin-left: -32.6rem;
    bottom: 0;


    // &:after {
    //   content: "";
    //   display: block;
    //   padding-bottom: 68.30015313936%;
    // }
  }
}

.selects {
  @include flexAlign;
  gap: 2rem;
  width: 95%;
  max-width: 61rem;
  margin: 0 auto;
  transform: translateY(5rem);

  li {
    text-align: center;
    width: 48%;
    height: 10rem;
    border: 2px solid $orange;

    a {
      color: $orange;
      height: 100%;
      transition: all 0.5s;
      @include flexAlign;

      &:hover {
        color: #fff;
        background-color: $orange;
      }
    }
  }

  dl {
    font-weight: 600;

    dt {
      font-size: clamp(3rem, 5vw, 4.5rem);
      margin-bottom: 0.4em;
    }

    dd {
      font-size: 1.5rem;
    }
  }
}

.sectionDl {
  text-align: center;
  transform: translateY(5rem);

  dt {
    color: $orange;
    font-size: clamp(2.2rem, 3vw, 2.8rem);
    line-height: 1.4;
    letter-spacing: 0.2em;
    margin-bottom: 0.4em;
  }

  dd {
    font-size: 2rem;
    font-weight: 600;
  }
}

.mainArticle {
  text-align: center;
  margin: clamp(7rem, 4vw, 150rem) auto;

  &__texts {
    margin-top: 4rem;
    font-size: 1.6rem;
    line-height: 1.5;
    transform: translateY(5rem);
  }
}

.wall_img {
  position: absolute;
  z-index: -1;
  opacity: 0;
  transition: opacity 1s;

  div {
    width: 100%;
    height: 100%;
    transform: scale(0);
    transition: transform 1s;
  }

  &.acting {
    opacity: 1;

    div {
      transform: scale(1);
    }
  }

  @include mobileOnly {
    display: none;
  }
}



.left_leaf {
  width: 29.5rem;
  height: 38.1rem;
  left: 0;

  div {
    background: url(../images/main/left_leaf.png) no-repeat left;
    transform-origin: left;
  }

}

.right_wallflower {
  width: 35.4rem;
  height: 50rem;
  right: 0;
  margin-top: 40rem;

  div {
    background: url(../images/main/right_allflower.png) no-repeat;
    transform-origin: right;
  }
}

.left_wallflower {
  width: 36rem;
  height: 36rem;
  margin-top: 60rem;

  div {
    background: url(../images/main/left_flower.png) no-repeat center;
    background-size: cover;
    transform-origin: left;
  }
}

.right_wallflower2 {
  width: 36rem;
  height: 36rem;
  right: 0;
  margin-top: 30rem;

  div {
    background: url(../images/main/right_flower2.png) no-repeat right;
    background-size: auto 100%;
    transform-origin: right;
  }
}

.left_fly {
  width: 25.5rem;
  height: 75.3rem;
  left: 0;
  margin-top: 70rem;

  div {
    background: url(../images/main/left_fly.png) no-repeat left;
    transform-origin: left;
  }
}

.banners {
  background-color: #0c1522;
  padding: 4rem 0;
  position: relative;
  z-index: 1;
  transform: translateY(5rem);

  &__lists {
    li {
      max-width: 43rem;
      padding-bottom: 3rem;
      position: relative;
      margin: 0 auto;

      .backplant {
        width: 100%;
        height: 100%;
        position: absolute;
        bottom: 0;
        z-index: 0;
        transform: scale(0);
        transition: transform 1s;

        &:after {
          content: "";
          display: block;
          // padding-bottom: 75.39130434783%;
        }

        &.acting {
          transform: scale(1);
        }
      }

      .frontplant {
        width: 100%;
        height: 100%;
        position: absolute;
        bottom: 0;
        z-index: 1;
        pointer-events: none;
        opacity: 0;
        transition: opacity 1s;
        transition-delay: 0.5s;

        &:after {
          content: "";
          display: block;
          // padding-bottom: 23.32474226804%;
        }

        &.acting {
          opacity: 1;
        }
      }


      &.list01 {
        .backplant {
          background: url(../images/main/three-links-behind-1.png) no-repeat center bottom;
          background-size: contain;
        }

        .frontplant {
          background: url(../images/main/three-links-front-1.png) no-repeat center bottom;
          background-size: contain;
        }
      }

      &.list02 {
        .backplant {
          background: url(../images/main/three-links-behind-2.png) no-repeat center bottom;
          background-size: contain;
        }

        .frontplant {
          background: url(../images/main/three-links-front-2.png) no-repeat center bottom;
          background-size: contain;
        }
      }

      &.list03 {
        .backplant {
          background: url(../images/main/three-links-behind-3.png) no-repeat center bottom;
          background-size: contain;
        }

        .frontplant {
          background: url(../images/main/three-links-front-3.png) no-repeat center bottom;
          background-size: contain;
        }
      }

    }
  }

  &__block {
    background-color: #fff;
    width: 60%;
    height: 33rem;
    margin: 0 auto;
    text-align: center;
    transition: all 0.5s;
    z-index: 1;
    position: relative;
    @include flexAlign;

    &:hover {
      transform: scale(1.05);
    }
  }

  &__dl {
    padding: 1.5rem;

    dt {
      font-size: 2rem;
      letter-spacing: 0.3rem;
      text-transform: uppercase;
      line-height: 1.5;
      margin-bottom: 0.5em;
      color: $orange;
    }

    dd {
      font-size: 1.6rem;
      font-weight: 600;
    }
  }

  @include pc {
    &__lists {
      @include flexStart;

      li {
        width: 33.3333333%;
        margin: 0;
      }
    }
  }
}

.gallerys {
  padding: 5rem 0;

  &__lists {
    margin: 3rem 0 clamp(6rem, 10vw, 10rem) 0;
    transform: translateY(5rem);

    li {
      margin-bottom: 3rem;

      .textArea {
        background-color: #0c1522;
        padding: 1.5rem;

        .date {
          color: $orange;
          font-size: 1.6rem;
          margin-bottom: 0.9em;
        }

        .title {
          color: #fff;
          font-size: 1.8rem;
          font-weight: 600;
          margin-bottom: 1.1em;
        }

        .moreLink {
          color: #fff;
          font-size: 1.6rem;
          font-weight: 600;
        }
      }

      &:hover {
        .textArea {
          .moreLink {
            color: $orange;
          }
        }
      }
    }
  }

  &__image {
    position: relative;
    overflow: hidden;

    img {
      @include centerX(absolute);
      max-width: none;
      height: 100%;
      top: 0;
    }

    &:after {
      content: "";
      display: block;
      padding-bottom: 110%;
    }
  }

  &__view {
    display: block;
    background-color: $orange;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 600;
    color: #fff;
    line-height: 4rem;
    box-sizing: border-box;
    border: 3px solid $orange;
    transition: all 0.3s;

    &:hover {
      &:hover {
        background-color: transparent;
        color: $orange;
      }
    }
  }

  @include tablet {
    &__lists {
      li {
        width: 32%;
        margin-bottom: 0;
      }

      display: flex;
      justify-content: space-between;
    }
  }
}

.notice {
  margin-top: clamp(6rem, 5vw, 110rem);

  &__wrap {
    margin-top: 5rem;
  }

  &__box {
    margin-bottom: 7rem;
    transform: translateY(5rem);

    .title {
      font-size: 1.8rem;
      font-weight: 600;
      margin-bottom: 1em;

      .number {
        color: $orange;
      }

      .titleInner {}
    }

    .subtitle {
      font-style: italic;
      font-size: 1.6rem;
      font-weight: 600;
      line-height: 1.3;
      margin-bottom: 0.7em;
    }

    .texts {
      font-size: 1.6rem;
      line-height: 1.6;
      margin-bottom: 0.7em;
    }

    .btn {
      display: inline-block;
      background-color: $orange;
      text-align: center;
      font-size: 1.8rem;
      color: #fff;
      height: 4rem;
      line-height: 3.4rem;
      padding: 0 1.5rem;
      box-sizing: border-box;
      border: 3px solid $orange;
      transition: all 0.3s;

      &:hover {
        &:hover {
          background-color: transparent;
          color: $orange;
        }
      }
    }
  }

  @include pc {
    &__wrap {
      @include flexStart;
      flex-wrap: wrap;
    }

    &__box {
      width: 48%;
    }
  }
}

.bottom {
  &__title {
    @include flexAlign;
    color: $orange;
    padding: 5rem 2rem;
    background-color: #0a2e41;
    font-size: clamp(2.2rem, 4vw, 3rem);
    font-size: 500;
    letter-spacing: 0.2em;
    line-height: 1.4;
    text-align: center;
    transform: translateY(5rem);
  }

  &__lists {
    padding: 5rem 0;
    transform: translateY(5rem);

    li {
      text-align: center;
      overflow: hidden;

      a {
        display: block;
        height: 100%;
        position: relative;

        &:after {
          content: "";
          display: block;
          padding-bottom: 141.89723320158%;
        }
      }

      &.list01 {
        background: url(../images/main/bottomItem01.png) no-repeat center;
        background-size: cover;
      }

      &.list02 {
        background: url(../images/main/bottomItem02.png) no-repeat center;
        background-size: cover;
      }

      &.list03 {
        background: url(../images/main/bottomItem03.png) no-repeat center;
        background-size: cover;
      }

      &.list04 {
        background: url(../images/main/bottomItem04.png) no-repeat center;
        background-size: cover;
      }

      .features {
        @include centerX(absolute);
        bottom: 0;
        width: 100%;
        height: 11.4rem;
        background: url(../images/main/featured.png) no-repeat center top;
        background-size: cover;
        color: #fff;
        box-sizing: border-box;
        padding: 4rem 2rem 2rem 2rem;
        transition: transform 0.5s;

        dl {
          dt {
            font-size: 2.4rem;
            font-weight: 700;
            margin-bottom: 0.5em;
          }

          dd {
            font-size: 1.8rem;
          }
        }
      }

      &:hover {
        .features {
          transform: translateX(-50%) scale(1.3);
        }
      }
    }

    @include pc {
      @include flexStart;

      li {
        width: 23.5%;
      }
    }
  }
}